
/* Your CSS Code here. */
.item {
	    width: 100px;
	    height: 100px;
	    margin-top: 10px;
	    font-size: 30px;
}
.holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}
.item1 {
	background-color: red;
	order: 6;
}
.item2 {
	background-color: blue;
	order: 7;
}
.item3 {
	background-color: green;
}
.item4 {
	background-color: green;
}
.item5 {
	background-color: green;
}
.item6 {
	background-color: green;
}
.item7 {
	background-color: green;
}